body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('./assets/rainbow.webp');
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: .5rem;
  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 4rem;
    font-weight: bold;
    line-height: 5rem;
    height: 6rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 6rem;
    border-radius: .5rem;
    background-color: #000;
    color: #fff
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 15%;
    left: 28%;
    padding: 4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background: #474747;
    border-radius: .5rem;
  }
  
  .game-info {
    margin-right: 4rem;
  }
  .game-status {
    padding-left: 1rem;
    font-size: 2rem;
    color: #ffffff
  }

  .game-history {
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: .5rem 0;
    font-size: 1rem;
    width: 10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .game-history:hover {
    background-color: rgb(0, 0, 0, 0.7);
  }
  .game-move {
    padding-left: 1rem;
  }
  .game-move::marker {
    color: #ffffff;
  }
  .game-move.selected::marker {
    font-weight: bolder;
  }
  .game-move.selected > button {
    background-color: rgb(0, 0, 0, 0.5);
  }
  